@import "tailwindcss";
@custom-variant mobile (&:where([data-theme=mobile], [data-theme=mobile] *));

@font-face {
    font-family: 'Exo2';
    src: url("./fonts/Exo2-Regular.ttf");
}

@font-face {
    font-family: 'DeliusUnicase';
    src: url("./fonts/DeliusUnicase-Regular.ttf");
}

/* Add Costume Styles Here */
@layer components {

    .body-bg-img{
        background: url("./img/pexels-eye4dtail-374918.jpg") repeat;
        background-size: cover;
    }

    .font-exo{
        font-family: 'Exo2';
    }

    .game-started-Config{
        visibility: hidden;
        opacity: 0;
    }

    .win-bg-grd{
        @apply bg-gradient-to-r from-emerald-500/30 from-5% via-transparent to-emerald-500/30 to-95%;
    }
    .win-text{
        @apply text-emerald-400;
        text-shadow:
        0 0 5px oklch(84.5% 0.143 164.978) ,
        0 0 10px oklch(76.5% 0.177 163.223),
        0 0 15px oklch(69.6% 0.17 162.48),
        0 0 20px oklch(59.6% 0.145 163.225);
    }

    .lose-bg-grd{
        @apply bg-gradient-to-r from-rose-500/30 from-5% via-transparent to-rose-500/30 to-95%;
    }
    .lose-text{
        @apply text-rose-400;
        text-shadow:
        0 0 5px oklch(81% 0.117 11.638) ,
        0 0 10px oklch(71.2% 0.194 13.428),
        0 0 15px oklch(64.5% 0.246 16.439),
        0 0 20px oklch(58.6% 0.253 17.585);
    }

    .draw-bg-grd{
        @apply bg-gradient-to-r from-amber-500/30 from-5% via-transparent to-amber-500/30 to-95%;
    }
    .draw-text{
        @apply text-amber-400;
        text-shadow:
        0 0 5px oklch(87.9% 0.169 91.605) ,
        0 0 10px oklch(82.8% 0.189 84.429),
        0 0 15px oklch(76.9% 0.188 70.08),
        0 0 20px oklch(66.6% 0.179 58.318);
    }

    .input-focus{
        @apply focus:outline-2 focus:outline-offset-2 focus:outline-indigo-400
    }

}
